body {
  background-color: darkgray;
}

@font-face {
  font-family: 'PoEFont'; /*a name to be used later*/
  src: url("fonts/Fontin-SmallCaps.ttf"); /*URL to font*/
  font-stretch: condensed;
}

.stacked_deck {
  background-image: url("images/Stacked_Deck.png");
  background-repeat: no-repeat;
  background-color: transparent;
  height:78px;
  width:78px;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  font-size: 16px;
  float: right;
}

.LootSimulator {
  width: 960px;
  height: 650px;
  margin: 20px 0 0 0;
  position: relative;
  left: 500px;
  text-align: center;
  border: 1px solid black;
  color: #a38d6d;
  background-color: black;
}

.item_container {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  font-family: GeneralFont;
  border: 1px solid;
  color: red;
  background-color: white;
  border-color: red;
}

.item_outer_container {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}

.T1_divination_card_inner_container {
  background-color: white;
  border: 1px solid blue;
  padding: 5px;
  position: relative;
  top: 40%;
  display: inline-flex;
}

.bright:hover {
  filter: brightness(130%)
}

.T1_divination_card_text {
  color: blue;
  font-size: 30px;
  font-family: PoEFont;
  vertical-align: sub;
}

.red_star_image {
  width: 26px;
  height: 26px;
  margin: -6px 0;
  vertical-align: middle;
  background: url("images/MiniMapIcon_FullSpriteV2.png") -257.59999999999997px -115.8px;
  background-size: 3730%;
  display: inline-block;
}

.T2_divination_card_inner_container {
  background-color: blue;
  border: 1px solid white;
  padding: 5px;
  position: relative;
  top: 40%;
  display: inline-flex;
}

.T2_divination_card_text {
  color: white;
  font-size: 30px;
  font-family: PoEFont;
  vertical-align: sub;
}

.red_triangle_image {
  width: 26px;
  height: 26px;
  margin: -6px 0;
  vertical-align: middle;
  background: url("images/MiniMapIcon_FullSpriteV2.png") -257.59999999999997px -144.25px;
  background-size: 3730%;
  display: inline-block;
}

.T3_divination_card_inner_container {
  background-color: rgb(50, 220, 240);
  border: 1px solid black;
  padding: 5px;
  position: relative;
  top: 40%;
  display: inline-flex;
}

.T3_divination_card_text {
  color: black;
  font-size: 30px;
  font-family: PoEFont;
  vertical-align: sub;
}

.yellow_triangle_image {
  width: 26px;
  height: 26px;
  margin: -6px 0;
  vertical-align: middle;
  background: url("images/MiniMapIcon_FullSpriteV2.png") -428px -144.25px;
  background-size: 3730%;
  display: inline-block;
}

.T4_divination_card_inner_container {
  background-color: rgba(145, 215, 230, 0.882);
  border: 1px solid rgb(0, 100, 150);
  padding: 5px;
  position: relative;
  top: 40%;
  display: inline-flex;
}

.T4_divination_card_text {
  color: black;
  font-size: 30px;
  font-family: PoEFont;
  vertical-align: sub;
}

.white_triangle_image {
  width: 26px;
  height: 26px;
  margin: -6px 0;
  vertical-align: middle;
  background: url("images/MiniMapIcon_FullSpriteV2.png") -342.79999999999995px -144.25px;
  background-size: 3730%;
  display: inline-block;
}

.T5_divination_card_inner_container {
  background-color: rgba(175, 215, 230, 0.706);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  position: relative;
  top: 40%;
  display: inline-flex;
}

.T5_divination_card_text {
  color: black;
  font-size: 30px;
  font-family: PoEFont;
  vertical-align: sub;
}

.T6_divination_card_inner_container {
  background-color: rgba(175, 215, 230, 0.706);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  position: relative;
  top: 40%;
  display: inline-flex;
}

.T6_divination_card_text {
  color: black;
  font-size: 24px;
  font-family: PoEFont;
  vertical-align: sub;
}

.NavigationBar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: grey;

  overflow-x: hidden;
}

.NavigationButton {
  display: block;
  white-space: nowrap;
  width: 100%;
  padding: 12px;
  color: white;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}

.NavigationButton:hover {
  color: black;
  background-color: white;
}

.divination_card_icon {
  background-image: url("images/Divination_card_icon.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.main_content {
  margin-left: 200px;
  padding: 8px;
}

.LootDisplayer {
  position: absolute;
  bottom: 50%;
  right: 25%;
  display: none;
}